<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginpage.css">
</head>
<body>
    <form  id="form" name="form" action="/login" method="POST">
        <div class="info">
            <article>
                <p>登入</p>
                <center><div class="acco">
                    <label>帳號</label>
                    <input type="text" name="userAccount" required>
                </div>
                <span></span>
                <div class="passw">
                    <label>密碼</label>
                    <input type="password" name="userPassword" required>
                </div>
                <button id="btn" type="submit" name="" value="登入" onmouseover="changeColor()" onmouseout="changeColorBack()">登入</button>
                <% if(status.length > 0) { %>
                    <h1><%= status %></h1>
                <% } %>
                <br></br>
                <a type="button" href="/register">Register</a>
                <p></p></center>
        </div>
    </form>  
    <script>
        function changeColor(){
            var btn=document.getElementById("btn")
            btn.style="background:#D3D3D3"
        }
        function changeColorBack(){
            var btn=document.getElementById("btn")
            btn.style="background:#2691d9"
        }
    </script>
</body>
</html>