<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Select Page</title>
    <link rel="stylesheet" href="/stylesheets/selectpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="/javascripts/selectpage.js" defer></script>
    <style>
        .download-btn-cn a {
            background: none;
            color: #fff;
            border: 2px solid #fff;
        }

        .download-btn-cn a:hover {
            color: #343F4F;
            background: #fff;
        }
    </style>
</head>

<body>
    <form action="/user/wordsheet" method="POST" id="form">
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <div class="carousel">
                <img src="/unitimages/unit1.png" name="unitNum" value="1" title="Unit 1" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit2.png" name="unitNum" value="2" title="Unit 2" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit3.png" name="unitNum" value="3" title="Unit 3" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit4.png" name="unitNum" value="4" title="Unit 4" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit5.png" name="unitNum" value="5" title="Unit 5" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit6.png" name="unitNum" value="6" title="Unit 6" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit7.png" name="unitNum" value="7" title="Unit 7" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit8.png" name="unitNum" value="8" title="Unit 8" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit9.png" name="unitNum" value="9" title="Unit 9" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit10.png" name="unitNum" value="10" title="Unit 10" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit11.png" name="unitNum" value="11" title="Unit 11" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit12.png" name="unitNum" value="12" title="Unit 12" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit13.png" name="unitNum" value="13" title="Unit 13" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit14.png" name="unitNum" value="14" title="Unit 14" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit15.png" name="unitNum" value="15" title="Unit 15" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit16.png" name="unitNum" value="16" title="Unit 16" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit17.png" name="unitNum" value="17" title="Unit 17" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit18.png" name="unitNum" value="18" title="Unit 18" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit19.png" name="unitNum" value="19" title="Unit 19" alt="img" draggable="false" onclick="submitUnit()">
                <br></br>
                <img src="/unitimages/unit20.png" name="unitNum" value="20" title="Unit 20" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit21.png" name="unitNum" value="21" title="Unit 21" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit22.png" name="unitNum" value="22" title="Unit 22" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit23.png" name="unitNum" value="23" title="Unit 23" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit24.png" name="unitNum" value="24" title="Unit 24" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit25.png" name="unitNum" value="25" title="Unit 25" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit26.png" name="unitNum" value="26" title="Unit 26" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit27.png" name="unitNum" value="27" title="Unit 27" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit28.png" name="unitNum" value="28" title="Unit 28" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit29.png" name="unitNum" value="29" title="Unit 29" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit30.png" name="unitNum" value="20" title="Unit 20" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit31.png" name="unitNum" value="31" title="Unit 31" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit32.png" name="unitNum" value="32" title="Unit 32" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit33.png" name="unitNum" value="33" title="Unit 33" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit34.png" name="unitNum" value="34" title="Unit 34" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit35.png" name="unitNum" value="35" title="Unit 35" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit36.png" name="unitNum" value="36" title="Unit 36" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit37.png" name="unitNum" value="37" title="Unit 37" alt="img" draggable="false" onclick="submitUnit()">
                <img src="/unitimages/unit38.png" name="unitNum" value="38" title="Unit 38" alt="img" draggable="false" onclick="submitUnit()">

                <br></br>

            </div>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
        <input id="testAmount" name="testAmount" style="visibility: hidden;" value=""></input>
        <input id="unitNum" name="unitNum" style="visibility: hidden;" value=""></input>
        <button type="submit" id="submitBtn" style="visibility: hidden;">skip</button>
    </form>
    <script>
        function submitUnit() {
            var unitNum = document.getElementById("unitNum")
            unitNum.value = 1;
            submitTestAmount();
        }
        function submitTestAmount() {
            var testAmount = document.getElementById("testAmount")
            var form = document.getElementById("form")
            var btn = document.getElementById("submitBtn")
            testAmount.value = 5;
            form.onsubmit = "return true";
            btn.click();
        }
    </script>
</body>

</html>